{% extends "main/main_base.html" %}

{% block content %}

     <div class="container-fluid p3">
     <div class="jumbotron">
          <h1 class="display-3">Welcome to Risky!</h1>
          <p class="lead">We are development stage company working on bring world class risk tools to indvidual investors.  We see the huge growth in
                            option trading by individual investors as a permanent phenomenon but we know the tools provided by the retail brokareage houses
                            are inferior at best.  Our goal is to change that and arm indviduals with the same tools as the "professional" traders!</p>
          <hr class="my-4">
          <p>We welcome your feedback and ideas. Let us know what you like - what you don't like - and what you'd like to see us add!  We plan continuous roll outs as
             we develop new tools and enhance the exitising ones so check back regularly to see what is new!</p>

         <h4 class="text-info"> About Our Founder</h4>
          <p class="lead text-info"> Rob Prellwitz is a reformed hedge fund trader, having worked for Stark Investments from 1998 - 2014. Stark grew from less than
              $500 Million in AUM to $15 Billion in 2008.  He knows the tools and strategies used by the biggest and best players in the market and he is now
              dedicated to bring those tools and strategies to everyone.  This is the start of that journey!  Join us, it is going to be an amazing ride.
          </p>

         <p small class="text-danger"> Remember - Don't Pan!c and always remember your towel!</p>
        </div>

     </div>


    <div class="row">
        <div class="col-lg-4">
        </div>
    </div>

{% endblock %}