{% extends "main/main_base.html" %}  {# main/main_base.html extends layout.html #}

{% block pre_content %}
{% endblock %}


{% block content %}
<table class="table table-responsive">
  <thead>
    <tr class="table-info">
      <th scope="col">Security</th>
        <th scope="col">Security Type</th>
      <th scope="col">Underlying Ticker</th>
      <th scope="col">Option Tupe</th>
      <th scope="col">Holding</th>
        <th scope="col">Strike</th>
        <th scope="col">Expiration</th>
        <th scope="col">Price</th>
        <th scope="col">Delta</th>
    </tr>
  </thead>

      <tbody>
      {%  for security_key, security in securities %}
        <tr class="table-primary" style="font-size:13px">
            <th scope="row">{{  security.symbol }}</th>
            <td>{{ security.type }}</td>
            <td>{{ security.underlying }} </td>
            <td>{{ security.optiontype }}</td>
            <td>{{ security.position }}</td>
            <td>{{security.strike}}</td>
            <td>{{ security.expiration }}</td>
            <td>$  {{ security.price }}</td>
            <td>{{ security.delta }} %</td>
        </tr>
      {% endfor %}
      </tbody>

</table>
{% endblock %}
