{% extends "main/main_base.html" %}

{% block pre_content %}
{% endblock %}

{% block content %}
<H2> Positions </H2>
    <table>
        {% for table in tables %}
            <h4></h4>
        {{ table|safe }}
        {% endfor %}
    </table>


{% endblock %}

<!--    <table>-->
<!--        <tr>-->
<!--            {% for col in column_names %}-->
<!--            <th style=" text-align:center">{{ col }}</th>-->
<!--            {% endfor %}-->
<!--        </tr>-->
<!--        {% for row in row_data %}-->
<!--        <tr style="text-align:center">-->
<!--            {% for col, row_ in zip(column_names, row) %}-->
<!--            {% if col == link_column %}-->
<!--            <td>-->
<!--                <a href="{{url_for('main.group_page')}}">{{ row_ }}</a>-->
<!--            </td>-->
<!--            {% else %}-->
<!--            <td>{{ row_ }}</td>-->
<!--            {% endif %}-->
<!--            {% endfor %}-->
<!--        </tr>-->
<!--        {% endfor %}-->
<!--    </table>-->
