{% extends "main/main_base.html" %}

{% block pre_content %}
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="nav-link" href="{{  url_for('main.group_page') }}">group</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <fieldset>
        <div class="form-group">
            <div class="input-group mb-3">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile02">
                <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
              </div>
              <div class="input-group-append">
                <span class="input-group-text">Upload</span>
              </div>
            </div>
        </div>
        </fieldset>
    </div>

{% endblock %}



{% block content %}
<H2> Positions </H2>
    <table id="Portfolio">
        {% for table in tables %}
            <h4></h4>
        {{ table|safe }}
        {% endfor %}
    </table>


{% endblock %}

<!--    <table>-->
<!--        <tr>-->
<!--            {% for col in column_names %}-->
<!--            <th style=" text-align:center">{{ col }}</th>-->
<!--            {% endfor %}-->
<!--        </tr>-->
<!--        {% for row in row_data %}-->
<!--        <tr style="text-align:center">-->
<!--            {% for col, row_ in zip(column_names, row) %}-->
<!--            {% if col == link_column %}-->
<!--            <td>-->
<!--                <a href="{{url_for('main.group_page')}}">{{ row_ }}</a>-->
<!--            </td>-->
<!--            {% else %}-->
<!--            <td>{{ row_ }}</td>-->
<!--            {% endif %}-->
<!--            {% endfor %}-->
<!--        </tr>-->
<!--        {% endfor %}-->
<!--    </table>-->
