{% extends "main/main_base.html" %}

{% block pre_content %}
{% endblock %}
<div class="container-fluid p-4">
{% block content %}
<div class="container-fluid p-4">
    <div style="align-content: stretch ">
    <H2 style="align-content: center; color: dodgerblue"> Sample Position Data </H2>
    </div>
{#    {% for page in pages %}#}
{#        {{ page|safe }}#}
{#    {% endfor %}#}

    <table>
        {% for table in tables %}
            <h4></h4>
        {{ table|safe }}
        {% endfor %}
    </table>
</div>

{% endblock %}

</div>