{% extends "main/main_base.html" %}  {# main/main_base.html extends layout.html #}

{% block pre_content %}

{% endblock %}


{% block content %}
<table class="table table-responsive">
  <thead>
    <tr class="table-info">
        <th scope="col">Security</th>
        <th scope="col">Group</th>
        <th scope="col">type</th>
        <th scope="col">Underlying</th>
        <th scope="col">Holding</th>
        <th scope="col">Price</th>
        <th scope="col">Delta</th>
        <th scope="col">Exposure</th>
        <th scope="col">Dollar Exposure</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-primary">
        <th scope="row">Active</th>
        <td>Rob</td>
        <td>Prellwitz</td>
        <td>Don't</td>
        <td>Panic</td>
        <td>The </td>
        <td>Answer </td>
        <td>is </td>
        <td>42 !</td>

    </tr>
  </tbody>
</table>
{% endblock %}
