{% extends "main/main_base.html" %}  {# main/main_base.html extends layout.html #}


{% block pre_content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light px-2">
            <a class="navbar-brand" href="#"> User Tools </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav mr-auto">


                    <form class ="px-3" action="" method="POST" enctype="multipart/form-data">
                        <p id="fileHelp" class="form-text text-danger">Use this to upload updates to your user created portfolio</p>
                         <div class="form-group">
                            <div class="input-group mb-3" >
                              <div class="custom-file">
                                <input type="file" class="custom-file-input text-warning" name="userport" id="userport">
                                <label class="custom-file-label text-danger" for="userport">Choose CSV</label>
                              </div>
                              <div class="input-group-append">
                                  <button class="input-group-text text-info" type="submit">Upload</button>
                              </div>
                            </div>
                         </div>
                    </form>

                    <form class="px-3" action="" method="POST" enctype="multipart/form-data">
                        <p id="fileHelp" class="form-text text-danger">Use this to upload updates to your E*Trade portfolio</p>
                         <div class="form-group">
                            <div class="input-group mb-3" >
                              <div class="custom-file">
                                <input type="file" class="custom-file-input text-warning" name="etradeport" id="etradeport">
                                <label class="custom-file-label text-danger" for="etradeport">Choose Etrade CSV</label>
                              </div>
                              <div class="input-group-append">
                                  <button class="input-group-text text-info" type="submit">Upload</button>
                              </div>
                            </div>
                         </div>
                    </form>

                    <li class="nav-item p-lg-4">
                      <a class="navbar-brand text-info"  href="{{  url_for('main.portfolio_page') }}"> Load Portfolio </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </ul>
            </div>
</nav>

    <div class="container-fluid p3">
    <div class="row">
        <div class="col-lg-4">
            <div class="card text-white bg-primary mb-3" style="max-width: 50rem;">
              <div class="card-header"> Standard CSV Instructions </div>
              <div class="card-body">
                <h4 class="card-title">User Portfolio file details</h4>
                <p class="card-text">Getting your portfolio loaded is simple.  You need a csv file of your positions in the following format:<br>
                     Header row: <br> Symbol, Type, Option Underlier,Option Type, Quantity, Strike Price, Expiration Date <br>
                    The body is one security per row with the relevant data (obviously equities have less content!)<br>
                     equity example:  F,Equity,--,--,2000,--,--<br>
                     option example:  F Feb 05 '21 $12 Call,Option,F,CALL,30,12,2/5/2021</p>
              </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card text-white bg-primary mb-4" style="max-width: 50rem;">
              <div class="card-header">Etrade Instructions</div>
              <div class="card-body">
                <h4 class="card-title">Etrade File Details </h4>
                <p class="card-text">Etrade users simply need to download a csv file from Etrade with the fields in the order shown below.  Thats it!
                                        We will take care of the rest! <br>  Fields Required: <br>
                                         Symbol, Type, Option Underlier,Option Type, Quantity, Strike Price, Expiration Date </p>
              </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
              <div class="card-header">Attention</div>
              <div class="card-body">
                <h4 class="card-title">Please Check Back</h4>
                <p class="card-text">We intend to add other retail broker support regularly.  Let us know your favorite so we
                                     know who to focus on and check back often to see if we have added yours!</p>
              </div>
            </div>
        </div>


    </div>
    </div>

{% endblock %}


{% block content %}





<table class="table table-responsive">
  <thead>
    <tr class="table-info">
        <th scope="col">Security</th>
        <th scope="col">Group</th>
        <th scope="col">type</th>
        <th scope="col">Underlying</th>
        <th scope="col">Holding</th>
        <th scope="col">Price</th>
        <th scope="col">Delta</th>
        <th scope="col">Exposure</th>
        <th scope="col">Dollar Exposure</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-primary">
        <th scope="row">Active</th>
        <td>Rob</td>
        <td>Prellwitz</td>
        <td>Don't</td>
        <td>Panic</td>
        <td>The </td>
        <td>Answer </td>
        <td>is </td>
        <td>42 !</td>

    </tr>
  </tbody>
</table>
{% endblock %}
