<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/static/bootstrap.css"/>
</head>
<body>

<div class="jumbotron">
  <h1 class="display-3">Don't Panic!</h1>
  <p class="lead">Focused on the indvidual investor we provide institutional style risk tools not available from your online broker</p>
  <hr class="my-4">
  <p>View our sample and sign up for a free trial.  Once you try it you won't go back!</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/sample" role="button">View a sample</a>
    <a class="btn btn-primary btn-lg"  href="/Portfolio">Portfolio Summary</a>
  </p>
</div>
</body>
</html>